<style>
        h1{
            color:black;
            background: grey;
            
        }
        #first{
            color:black;
            background:grey;
            
        }
#box{
    background:bisque;
    margin:30px;
    padding:20px;
}
</style>